@charset "utf-8";
/* CSS Document */
.body{
	width:1010px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	font:  Arial, "宋体";
	display: block;
}
ul{list-style:none outside none;
	margin:0;
	padding:0;}
#myq, #studyq ul{ list-style:none outside none; margin:0; padding:0}
    #nznlogo  { display: none; }
 #sgnlogo { display: none; }
	 #ienlogo { display: none; }
#uknlogo { display: none; } 
#canlogo{ display: none; }
#aunlogo{ display: none; }
#nlnlogo{ display: none; }
#nlogo{ overflow:hidden; display:block}
#usnlogo{ overflow:hidden; display:block}
.ad-banner{width:1010px; height:100px; display:block; background:#CCC; margin:0 0 10px 0; padding:0}
.ad-bannerbig{
	width:1010px;
	height:300px;
	display:block;
	background:#CCC;
	margin:0 0 10px 0;
	padding:0
}
.left710{
	width:720px;
	float:left;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:0;
	display: block;
}
.left315{
	width:315px;
	float:left;
	
	margin:0 0 10px 0;
	padding:0;
	
}

.center{
	width:374px;
	float:left;
	/* [disabled]height:218px; */
	border:1px solid #cccccc;
	margin:0 8px 10px 8px;
	padding:6px 8px;
}
.center dt{
	width:378px;
	font-size:16px;
	color:#2b3546;
	line-height:26px;
	height:26px;
	overflow:hidden;
	font-weight:700;
	text-align: center;
	/* [disabled]padding: 0; */
	/* [disabled]margin: 0; */
}
.center dt a{color:#2b3546;}.center dt a:hover{color:#ff5400;text-decoration:none;}
.center ul{ margin-top:10px;}
.center li{
	height:20px;
	/* [disabled]width:358px; */
	font-size:14px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}
.center li a{
	color:#000;
	text-decoration:none;
	/* [disabled]float: left; */
	display: inline;
	margin: 0;
	padding: 0;
}
.centercontent { margin:4px 0 8px 0;}
.centercontent ul li a:hover{color:#005098;text-decoration: underline;}
.centercontent ul{ margin:0; padding:0; list-style:none outside none}
.centercontent  ul li{
	height:20px;
	/* [disabled]width:358px; */
	font-size:14px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}
.centercontent  ul li a{
	color:#000;
	text-decoration:none;
	/* [disabled]float: left; */
	display: inline;
	margin: 0;
	padding: 0 4px 0 0;
}
.centercontent li a:hover{color:#005098;text-decoration: underline;}
.right280{width:280px; float:right; overflow:hidden; margin:0; padding:0}

.content-cse{
	overflow:hidden;	
	padding:8px 0;
	width: 708px;	
}
.content-cse ul{ list-style:none outside none; font-size:12px; font-weight:bold; padding: 0; margin:0;  display:block}
.content-cse ul li{ list-style:none outside none; display:inline; float:left; margin:0 0 6px 10px ; overflow:hidden }
.content-cse ul li label{ cursor:pointer; display:block; margin:0 0 4px 0}

.college-list{
	overflow:hidden;
	border:1px solid #DCDDDD;
	margin:0 0 0px 0;
	padding:0;background:url(../images/bgt3.gif) top repeat-x;
}

#country-nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #CCC;
	height: 26px;
	float: left;
	
}
#country-nav li {
	width: 68px;
	height:26px;
	float: left;
	margin: 0;
	padding: 0;
	list-style:none outside none;
}
#country-nav li.last { margin-right: 0; }
#country-nav li a { display: block; padding: 5px; color: black; font-size: 14px; text-align: center; border: 0; text-decoration:none }
#country-nav li a:hover {border-right:1px solid #CCC;
	background-color: #FFF;}
#country-nav li a.current {
	border-right:1px solid #CCC;
	background-color: #FFF;
	}
.case_list{
	width:320px;
	padding:6px;
	float: left;
}
.case_list_top{ overflow:hidden; display:block; border-bottom:1px dotted #CCC; padding:4px}
.case_list ul li a { display:block; font-size:12px; color:#333; text-decoration:none; padding:3px 0; margin:0
}
.case_list ul li a:hover {
	color:#036;
	text-decoration: underline;
}
#q-nav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 31px;	
}
#video-nav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 31px;	
}
#news-case-nav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 31px;	
}
#nlogo-nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 57px;
}
#news-case-nav li {
	display:inline;
	padding:0;
	margin:0;
	list-style:none outside none;
}
#video-nav li {
	display:inline;
	padding:0;
	margin:0;
	list-style:none outside none;
}

#q-nav li {
	display:inline;
	padding:0;
	margin:0;
	list-style:none outside none;
}
#nlogo-nav li {
	display:block;
	float:left;
	padding:0;
	margin:0 12px 0 0;
	list-style:none outside none;
	height:57px;
	width:75px;
	text-align:center;
	background:url(../images/country_edu_tabs_bg.gif) left top no-repeat;
}
.flag{
	float:left;
	padding:4px 22px;
	border:0;
	/* [disabled]margin: 4px 8px; */
	z-index: 3;
	/* [disabled]position: absolute; */
}
#nlogo-nav li a {
	float:left;
	margin:0 3px 0 0;
	padding: 0 0 0 0;
	color: black;
	height:17px;
	width:75px;
	font-size: 14px;
	text-align: center;
	text-decoration:none;
	font-weight:normal;
}
#nlogo-nav  li a:hover {
	font-weight:bold;
	height:57px;
	width:75px;
	background-image: url(../images/country_edu_tabs_bgh.gif);
	background-repeat: no-repeat;
	background-position: left top;

	color:#FFF;
	z-index: 4;}
#nlogo-nav  li a.current {
	font-weight:bold;
	height:57px;
	width:75px;
	background-image: url(../images/country_edu_tabs_bgh.gif);
	background-repeat: no-repeat;
	background-position: left top;

	color:#FFF;
	z-index: 4;

	}
#q ul{	padding:0;margin:0; list-style:none outside none;}
 #ns ul{padding:0;margin:0; list-style:none outside none;}
#myq ul li a { display:block; font-size:12px; color:#333; text-decoration:none; padding:3px 0; margin:0
}
 #studyq ul li a { display:block; font-size:12px; color:#333; text-decoration:none; padding:3px 0; margin:0
}
#studyq ul li a:hover {
	color:#036;
	text-decoration: underline;
}
#myq ul li a:hover {
	color:#036;
	text-decoration: underline;
}
.qt{ color:#4B5464; float:left; padding-right:8px}
.qt a{ color:#4B5464;text-decoration:none;}
.qt a:hover{color:#4B5464;  text-decoration: underline;}
#q-nav  li a { float:left;

	border-right:1px solid #CCC;
	margin: 0;
	padding:6px 8px;color: black; height:19px; font-size: 14px; text-align: center; border-right:1px solid #CCC; text-decoration:none; font-weight:normal; }
#ns-nav  li a { float:left;

	border-right:1px solid #CCC;
	margin: 0;
	padding:6px 8px;color: black; height:19px; font-size: 14px; text-align: center; border-right:1px solid #CCC; text-decoration:none; font-weight:normal; }
#video-nav  li a { float:left;

	border-right:1px solid #CCC;
	margin: 0;
	padding:6px 8px;color: black; height:19px; font-size: 14px; text-align: center; border-right:1px solid #CCC; text-decoration:none; font-weight:normal; }
#q-nav  li a:hover {
	 background:url(../images/celan_s.png) top repeat-x; font-weight:bold}
#q-nav  li a.current { background:url(../images/celan_s.png) top repeat-x; font-weight:bold;
	}
#ns-nav  li a:hover {
	 background:url(../images/celan_s.png) top repeat-x; font-weight:bold}
#ns-nav  li a.current { background:url(../images/celan_s.png) top repeat-x; font-weight:bold;
	}
#studyq { display: none; }


#news-case ul{	padding:0;margin:0; list-style:none outside none;}
 #ns ul{padding:0;margin:0; list-style:none outside none;}
#newsall ul li a { display:block; font-size:12px; color:#333; text-decoration:none; padding:3px 0; margin:0
}
 #caseall ul li a { display:block; font-size:12px; color:#333; text-decoration:none; padding:3px 0; margin:0
}
#newsall ul li a:hover {
	color:#036;
	text-decoration: underline;
}
#caseall ul li a:hover {
	color:#036;
	text-decoration: underline;
}

#news-case-nav li a { float:left;

	border-right:1px solid #CCC;
	margin: 0;
	padding:6px 8px;color: black; height:19px; font-size: 14px; text-align: center; border-right:1px solid #CCC; text-decoration:none; font-weight:normal; }

#news-case-nav  li a:hover {
	 background:url(../images/celan_s.png) top repeat-x; font-weight:bold}
#news-case-nav  li a.current { background:url(../images/celan_s.png) top repeat-x; font-weight:bold;
	}

#newsall { display: none; }


#video-nav  li a:hover {
	 background:url(../images/celan_s.png) top repeat-x; font-weight:bold}
#video-nav  li a.current { background:url(../images/celan_s.png) top repeat-x; font-weight:bold;
	}
	
	
	
	
.cb{
	width:340px;
	overflow: hidden;
	padding: 5px;
	/* [disabled]float: left; */
}
.cbr{
	width:340px;
	overflow: hidden;
	padding: 4px;
	float: tight;
}
.img{ padding:1px; border:1px solid #CCC; float:left; }
.cb-content{
	float:right;
	overflow:hidden;
	width: 235px;
	color:#333;
}
.cb-content a{
	color:#333;
	text-decoration:none;
	font-family:Arial;
	font-size: 12px;
	line-height: 18px;
}
.cb-content a:hover{
	text-decoration:underline;	
}
.logocollege{
	float:left;
	border:1px solid  #CCC;
}
#video { margin:0 6px;}

#exam-v  ul{ margin:0; padding:0; list-style:none outside none}
#aboard-v  ul{ margin:0; padding:0; list-style:none outside none}
.recommond-school  ul{ margin:0; padding:0; list-style:none outside none}
#aboard-v ul li{
	padding:4px 0;

	width:130px;
	float: left;
	margin:0 0 5px 0;
	list-style:none outside none
}
.recommond-school ul li{
	padding:4px 0;
	width:160px;
	float: left;
	margin:0 8px 5px 8px;
	list-style:none outside none
}
 #exam-v  ul li{
	padding:4px 0;

	width:130px;
	float: left;
	margin:0 0 5px 0;
	list-style:none outside none
}
#aboard-v ul li a{
	font-size:12px;
	color:#333;

	text-decoration:none;
	text-align:center
}
.recommond-school ul li a{
	font-size:12px;
	color:#333;

	text-decoration:none;
	text-align:center
}
#exam-v  ul li a{ font-size:12px; color:#333;  text-decoration:none; text-align:center}
#aboard-v  ul li a:hover{
	text-decoration:underline;
}
.recommond-school ul li a:hover{
	text-decoration:underline;
}
 #exam-v  ul li a:hover{ text-decoration:underline;}

.teacher{
	padding:4px 17px;
	height: 120px;
	width:90px;
	float: left;
}
 #exam-v { display:none}
.qa{
	background:url(../images/greydot.gif) center left no-repeat;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	height:20px;
	display:block;
}
.qat {
	float:left;
	width:460px;
	display:block;
	height:20px
}
.qat a{ font-size:14px; color:#36C; text-decoration:none}
.qat a:hover{  text-decoration:underline}
.qaa {
	float:left;
	width:110px;
	display:block;
	height:20px
}
.qaa a{
	font-size:12px;
	color:#999;
	text-decoration:none
}
.qaa a:hover{  text-decoration:underline}
.qatime {float:right; width:100px; display:block; height:20px }
.qatime a{
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-family: Arial;
}
.qatime a:hover{  text-decoration:underline}
.collegeblog{
	background:url(../images/greydot.gif) center left no-repeat;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.collegeblog a{ font-size:14px; color:#333; text-decoration:none}
.collegeblog a:hover{ color:#C00; text-decoration:underline}
.topno{font-size:10px; color:white; padding:3px 10px 0 4px; margin:auto 0 ; font-family:Arial; float:left}
.topno10{font-size:10px; color:white; padding:3px 10px 0 2px ; margin:auto 0; font-family:Arial; float:left}
.top1-3{
	padding-left: 0px;
	padding-top: 2px ;
	padding-right: 4px;
	padding-bottom: 2px;
	background-image: url(../images/top1-3.gif);
	background-repeat: no-repeat;
	background-position: 2px 6px;
}
.top4-10{
	padding-left: 0px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	background-image: url(../images/top4-10.gif);
	background-repeat: no-repeat;
	background-position: 2px 6px;
}
.top1-3 a{ font-size:12px; color:#F30; text-decoration:none}
.top1-3 a:hover{ text-decoration:underline}
.top4-10 a{ font-size:12px; color:#333; text-decoration:none}
.top4-10 a:hover{ color:#C00; text-decoration:underline}
.topmajor{
	/* [disabled]clear:both; */
	/* [disabled]float:right; */
	right:-1px;
	width:86px;
	height:79px;
	top:-7px;
	text-indent: -9999px;
	/* [disabled]display:inline; */
	/* [disabled]margin: -7px 0 0 -1px; */
	z-index:2;
	position: absolute;
	background-image: url(../images/top_ribbon.png);
	background-repeat: no-repeat;
	background-position: right top;
}


.nation-special{
	margin:6px;
	font-size:12px;
	padding: 0 0;
	overflow: hidden;
	display: block;
	/* [disabled]border: 1px solid #F6F6F6; */
	border-top:none;
	border-bottom:none;
	width: 301px;
}
.nation-special ul{ list-style:none outside none; padding:0; margin:0}
.nation-special ul li{
	list-style:none outside none;
	padding:3px 0;
	margin:0;
	display:block;
	color: #666;
	border-bottom: 1px dashed #DCDDDD;
	overflow: hidden;
	width: 301px;
}
/*- edu_item -*/

		/* e_list_logo */
.e_list_logo{float:left;width:135px;zoom:1;}
.e_list_logo li{margin:0 0 4px;zoom:1;}
.e_list_logo li img{display:block;margin:0 0 6px;padding:1px;border:1px solid #dcdddd;}
 .e_list_logo li a{
	display:block;
	text-align:center;
	line-height:1.6em;
	font-size: 12px;
}
		/* e_list_text */
.e_list_text{
	margin:0 0 0 150px;
	/* [disabled]zoom:1; */
	padding: 0;
}
.e_list_text li{
	overflow:hidden;
	/* [disabled]line-height:2.1em; */
	height:27px;
	padding:0 20px 0 9px;
	background:url(../images/greydot.gif) center left no-repeat;
	margin: 0;
}
.e_list_text li a{font-size:14px;line-height:2.1em;}
