@charset "utf-8";
/* CSS Document */
.body{width:1010px;  overflow:hidden; margin:0 auto; padding:0;font:  Arial, "宋体";}
.ad-banner{width:1010px; height:100px; display:block; background:#CCC; margin:0 0 10px 0; padding:0}
.left710{
	width:710px;
	float:left;
	overflow:hidden;
	margin:0;
	padding:0;
	display: block;
}
.btn{width:1010px; font-size:12px;color:#666; text-align:center; padding:6px 8px; border-top:1px solid #999}
.btn a{ font-size:12px;color:#666; padding:0 8px; text-decoration:none}
.btn a:hover{ text-decoration:underline}
.ndmenu {
	font-size:12px;
	color:#666;
	width:702px
}
.ndmenu a{
	font-size:12px;
	color: #005599;
	text-decoration:underline;
	padding-left:8px;
}
.supplyer{font-size:12px;
	color:#666; display:block; margin:0 0 10px 0}
.supplyers{ border-left:1px solid #CCC; padding:6px 8px }
.supplyers ul{margin:0;
	padding:0; list-style:none outside none }
.supplyers ul li{
	margin:0;
	padding:0 0 20px 0;
	list-style:none outside none;
	font-size: 12px;
	color: #666;
	display: block;
	line-height: 18px;
}
.supplyers-tit{
	display:block;
	font-size: 16px;
	color: #005599;
	padding-bottom: 5px;
}
.supplyers-tit a{ text-decoration:underline;

	color: #005599;
	
}
.supplyers-web{ color:#090; display:block}
.related_search{
	background:#D8F0FE;
	padding:6px 8px;
	font-size:14px;
	font-weight:bold;
	overflow: hidden;
	display: block;
}
.related_words{
	/* [disabled]float:right; */
	width: 610px;
	overflow: hidden;
	display: block;
	/* [disabled]margin-left: 10px; */
}
.related_words a{color: #005599; text-decoration:underline; padding-right:8px; line-height:24px; font-weight:normal;}
.container710{margin:0 0 10px 0; padding:0;width:710px;overflow:hidden;display: block;}
.right280{width:280px; float:right; overflow:hidden; margin:0; padding:0}
.topmenu{
	display: block;
	overflow: hidden;
}
.key-searchengine{
	background:url(../images/logosmall.gif) top left no-repeat;
	padding-left:240px;
	display: block;
	overflow: hidden;
	width: 460px;
}
#Scroll {
	clear: both;
	font-size: 12px;
	margin: 0;
	width: 460px;
	color: #c2130e;
	line-height: 27px;
	text-align: left;
	padding:0
}
#Scroll a{ color:#005599; text-decoration:none}
#Scroll a:hover{ text-decoration:underline}
.k-searchengine{
	background: #005599;
	height:36px;
	padding:0;
	margin:0;
	border:0;
	width: 460px;
	overflow: hidden;
	display: block;
}
.inp_so_input{
	padding:7px 6px;
	border:1px solid #36F;
	font-size:14px;
	height:16px;
	width:358px;
	margin:0;
	float: left;
	display: block;
}
.btn_so{
	margin:0;
	padding:0;
	background:url(../images/btn_search.png) top left no-repeat;
	text-indent:-9999px;
	width:82px;
	height:32px;
	border: 0;
	float: right;
}
fieldset{ border:0 none;margin:0; padding:2px;}

.topmenu ul{ list-style:none outside none; margin:0; padding:0}
.topmenu ul li{ list-style:none outside none; margin:0; padding:6px 8px 6px 0; float:left; font-size:14px; color:#005599}
.topmenu ul li a{ color:#005599; text-decoration:underline}
.topmenu ul li a.topmenu-current {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
#ca, #uk, #au, #nz, #sg, #ie, #my, #nl{ display: none; }
#us, #ca, #uk, #au, #nz, #sg, #ie, #my, #nl, ul{ list-style:none outside none; margin:0; padding:0}
#us, #ca, #uk, #au, #nz, #sg, #ie, #my, #nl, ul li{
	list-style:none outside none;
	margin:0;
	padding:0;
	display:block
}
#ca, #uk, #au, #nz, #sg, #ie, #my, #nl{ display:none}
.school_results_list_item{
	overflow:hidden;
	display:block;
	margin:0 8px;
	padding:6px 0 6px 0;
	border-bottom:1px dotted #CCC;
	width: 692px;
}
.logocollege{
	float:left;
	border:1px solid  #CCC;
}



.school_results_content{
	padding: 0;
	margin:0 0 0 0;
	float: right;
	width: 504px;
}
.school_results_content ul { list-style:none outside none;padding:0 ; margin:0
}
.school_results_content li { list-style:none outside none; padding:0 5px 0 20px; margin:0; height:15px; display:inline
}
.school_results_content li a{ font-size:12px; color:#03C; text-decoration:underline
}
.app{ background:url(../images/app.gif) top left no-repeat}
.ass{ background:url(../images/ass.gif) top left no-repeat}
.pro{ background:url(../images/pro.gif) top left no-repeat}
.fav{ background:url(../images/fav.gif) top left no-repeat}

.container280{
	
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:278px
	
}
.container1010{
	overflow:hidden;
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:1008px
	
}

.container280 ul{
	list-style:none outside none;
	margin:0;
	padding:0;
	overflow: hidden;
}
.container280 li{
	margin:0;
}
.collegename{
	padding:4px;
	height: 90px;
	width:128px;float: left;
	
}
.collegeblog{
	background:url(../images/greydot.gif) center left no-repeat;
	padding: 4px 4px 4px 8px;
}
.collegeblog a{ font-size:14px; color:#333; text-decoration:none}
.collegeblog a:hover{ color:#C00; text-decoration:underline}
