@charset "utf-8";
/* CSS Document */
*{margin: 0 auto; padding: 0}
.body{
	width:1010px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	font-family: Arial;

}
ul{list-style:none outside none;
	margin:0;
	padding:0;}
.container710{
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0 0 0 0;
	width:718px;
	overflow: hidden;
	
}
.ad-banner{width:1010px; height:100px; display:block; background:#CCC; margin:0 0 10px 0; padding:0}
.ad-bannerbig{
	width:1010px;
	height:300px;
	display:block;
	background:#CCC;
	margin:0 0 10px 0;
	padding:0
}
.left710{
	width:720px;
	float:left;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:0;
	display: block;
}
.right710{
	width:720px;
	float:right;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:0;
	display: block;
}
.left315{
	width:315px;
	float:left;
	
	margin:0 0 10px 0;
	padding:0;
	
}

.tips{
	border:1px dashed #DCDDDD;
	margin:0 0 10px 0;

	width:702px;
	overflow: hidden;
	background-color:#FFE6FF;
	padding:6px 8px;
}
.tipsbooking{
	border:1px dashed #CCCCCC;
	margin:0 0 10px 0;

	width:262px;
	/* [disabled]overflow: hidden; */
	background-color:#F7F7F7;
	padding:6px 8px;
}
.container710s{

	margin:0 0 10px 0;
	padding:0;
	width:720px;
	overflow: hidden;
	
}
.left280{width:280px; float:left; overflow:hidden; margin:0; padding:0}
.bookform{
	overflow:hidden;
	display:block;
	padding:6px 8px;
	border:1px solid #CCC;
	width: 992px;
	/* [disabled]height: 500px; */
}
.container280{
	
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:278px
	
}
.container315{
	
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:313px
	
}
.liucheng {
	margin:0 auto;
	/* [disabled]padding-bottom: 10px; */
	padding: 0;
	list-style: none outside none;
	background: url(../images/grow.png) left top no-repeat;

	width: 237px;
	height: 202px;
}
.liucheng ul{ margin:0; padding:0; list-style:none outside none}
.liucheng ul li{
	margin:15px 0 10px 20px;
	padding:0;
	list-style:none outside none;
	font-size: 12px;
	color:#666;
	height: 25px;
}
.liucheng ul li a{
	font-weight:bold;
	padding-right:18px;
	color:#333;
	text-decoration:none;
}
.liucheng ul li a:hover{ text-decoration:underline}
.container280stop{
	background:url(../images/280stop.gif) top left no-repeat;
	border-bottom:none;
	border-top:none;
	margin:0;
	padding:0;
	width:280px;
	/* [disabled]height:9px; */
	display: block;
	overflow: hidden;
}
.container280sbottom{
	background:url(../images/280sbottom.gif) top left no-repeat;
	border-bottom:none;
	border-top:none;
	margin:0;
	padding:0;
	width:280px;
	height:9px;
}
.container280s{
	border-bottom:none;
	border-top:none;
	margin:0 0 0 0;
	padding:0;
	width:280px;
	background: url(../images/280sbottom.gif) no-repeat left bottom;
	overflow: hidden;
	
}
.container1010{
	overflow:hidden;
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:1008px
	
}

.container280 ul{
	list-style:none outside none;
	margin:0;
	padding:0;
	overflow: hidden;
}
.container280 li{
	margin:0;
}
