@charset "utf-8";
/* CSS Document */
.news-box{width:1008px;  overflow:hidden; margin:0 auto; padding:0;font:  Arial, "宋体"; border:1px solid #DFDFDF}
p{ margin:0; padding:0; font-size:14px; line-height:24px}
.ad-banner{width:1010px; height:100px; display:block; background:#CCC; margin:0 0 10px 0; padding:0}
.col-1{
	border-right:1px solid #DCDDDD;
	margin:0 0 0 -1px;
	padding:16px;
	width:628px;
	background: #FCFBF7;
	float: left;
	
}
.col-2{
	margin:0 0 0 0;
	padding:0;
	width:345px;
	float:left;
	/* [disabled]background-color: #000; */
	
	
}
.bigtitle{
	width:628px;
	line-height:40px;
	text-align:center;
	display:block;
	font-size:26px;
	font-weight:bold;
}
.rp{
	width:618px;
	padding:8px 5px;
	border-top:1px solid #CCC;
	display:block;
	font-size:12px;
	font-weight:normal;
	color: #666;
	overflow: hidden;
}

.forward{
	background:url(../images/rp_logo.png) no-repeat;
	float: left;
	height: 16px;
	padding-left:20px;
	color:#000;
	width: 280px;
	overflow: hidden;
}

 .qzone, .kaixin, .renren, .baidu, .nt, .sina, .yahoo, .tsina, .tqq, .tsohu, .t163{
	background:url(../images/rp_logo.png) no-repeat;
	float: left;
	height: 16px;
	padding-right:5px;
	color:#000;
	width:16px;
	display:block;
	text-indent:-9999px
}
.qzone{
	background-position: 0 -32px;
}
.kaixin{
	background-position: 0 -64px;
}
.renren{
	background-position: 0 -96px;
}
.nt{
	background-position: 0 -128px;
}
.baidu{
	background-position: 0 -160px;
}
.sina{
	background-position: 0 -192px;
}
.tsina{
	background-position: 0 -256px;
}
.yahoo{
	background-position: 0 -224px;
}
.tqq{
	background-position: 0 -288px;
}
.tsohu{
	background-position: 0 -320px;
}
.t163{
	background-position: 0 -352px;
}
.pstitle{
	width:618px;
	padding:8px 5px;
	border-top:1px solid #CCC;
	text-align:center;
	display:block;
	font-size:12px;
	font-weight:normal;
	color: #666;
}
.exp_information{
	display: block;
	width: 220px;
	overflow: hidden;
	/* [disabled]float: left; */
}
.pstitle a{ color:#000; text-decoration:none; padding:0 5px}
.pstitle a:hover{color:#C00;  text-decoration:underline; }
.pscontact a{color:#C00;text-decoration:none;}
.pscontact a:hover{ text-decoration:underline; }
.exp_info{
	border:1px solid #CCC;
	background:#FFF;
	width: 608px;
	padding: 10px;
	margin: 0 0 10px 0;
	font-size:12px;
	overflow:hidden;
	display:block;
	line-height: 18px;
}
.exp_infot{
	display: block;
	padding-bottom: 5px;
	/* [disabled]width: 340px; */
}
.exp_information a{ color:#005599; text-decoration:none}
.exp_information a:hover{ text-decoration:underline}
.exp_infot a{font-weight: bold; color:#000; text-decoration:none}
.exp_infot a:hover{ text-decoration:underline}
.exp_info ul{
	list-style:none outside none;
	margin:0;
	padding:0 0 0 20px;
	float:right;
	width: 250px;
	border-left: 1px dotted #CCC;
}
.exp_info ul li{
	list-style:none outside none;
	margin:0;
	padding:2px 0;	
}
.exp_info ul li a{ color:black; text-decoration:none}
.exp_info ul li a:hover{ color:#C00; text-decoration:underline}
.img{ float:left; padding:1px;border:1px solid #CCC; margin:0 10px  0 0 }
.news-content{}
.container1010{
	overflow:hidden;
	border:1px solid #DCDDDD;
	margin:0 0 10px 0;
	padding:0;
	width:1008px
	
}

.container280 ul{
	list-style:none outside none;
	margin:0;
	padding:0;
	overflow: hidden;
}
.container280 li{
	margin:0;
}s
.collegename{
	padding:4px;
	height: 90px;
	width:128px;float: left;
	
}
/*-- college_content --*/
.college_content{
	/* [disabled]position:relative; */
	overflow:hidden;
	/* [disabled]zoom:1; */
	background:#fff;
	border:1px solid #dcdddd;
	margin-bottom:10px;
	padding:10px 12px;
	font-size: 12px;
	display: block;
}
.college_img{
	/* [disabled]position:absolute; */
	left:12px;
	top:10px;
	float: left;
}
	.college_content .digg{position:absolute;left:12px;top:82px;width:53px;height:57px;background-position:0 -105px;}
	.college_content .digg a{color:#871c2c;display:block;text-align:center;width:53px;height:34px;padding:23px 0 0 0;}
.college_content ul{
	margin:0 0 0 180px;
	padding:0;
	list-style:none outside none
}
.college_content li{color:#393939;line-height:1.8em; margin:0; padding:0; list-style:none outside none}
.college_content li a{color:#1573ca; padding-right:5px; text-decoration:none}
.college_content li a:hover{text-decoration:underline}
.college_btn{
	margin:10px 0;
	overflow: hidden;
	display: block;
	height: 35px;
}
.btn_app, .btn_ass, .btn_faq {float:left;text-indent:-9999px;height:35px;margin:0 10px 0 0; background:url(../images/btn_content_opt.png) no-repeat}
.btn_app{width:126px;background-position:0 0;}
 .btn_ass{width:150px;background-position:0 -35px ;}
 .btn_faq{width:152px;background-position:0 -70px ;}
/*-- college_news --*/
.college_news{
	overflow:hidden;
	background:#fff;
	border:1px solid #dcdddd;
	margin-bottom:10px;
	padding:10px 12px;
	font-size: 14px;
}
.college_news ul{
	margin:6px 0;
	padding:0;
	list-style:none outside none
}

	.college_news  a{padding:0 6px;color:#1573ca;}
	
	.college_news li{font-size:14px;line-height:2em;margin:0 ;
	padding:0;
	list-style:none outside none }
	.college_news li a{text-decoration:underline;padding:0 2px 0 0;color:#1573ca; }
	
	.college_news li cite{color:#393939;padding:0 0 0 4px;}
/*-- exp_contact --*/
.exp_contact{
	overflow:hidden;
	background:#fff;
	border:1px solid #dcdddd;
	padding:10px 12px;
	font-size: 12px;
	color:#393939;
	line-height:1.6em;
	width: 602px;
}
.exp_form{
	padding:10px 0 0;
	width: 602px;
	overflow: hidden;
	display: block;
	
}
.exp_form ul{
	list-style: none outside none;
	padding:0;
	margin:5px 0 0 0;
	overflow: hidden;
	display: block;
}	
.c1{
	width:164px;
	float: left;
	display: block;
}
 .c1 .inp_txtform{width:85px; }
.c2{
	width:250px;
	float: left;
	display: block;
}
.inp_txtform{width:134px; }
.inp_taform{width:470px;height:96px;}
.exp_form ul li label{float:left;font-family:tahoma;line-height:26px;color:#3f3f3f;font-weight:bold;width:68px;padding-right:2px;text-align:right;}
.c2 select{float:left;width:86px;}
 .c3{
	width:570px;
	/* [disabled]height:auto; */
	display: block;
	float: left;
}
 .inp_taform{
	width:486px;
	height:144px;
	float: left;
}
.btn{
	height:30px;
	padding-left:70px;
	/* [disabled]overflow: hidden; */
	float: left;
	display: block;
	width: 500px;
	padding-top: 5px;

}

.btn_submitform{
	height: 30px;
	background:url(../images/confirm.gif) top center no-repeat;
	width:96px;
	border: 0;
	text-indent: -9999px;
	cursor:pointer;
	margin: 0;
	padding: 0;
	float: left;
}
.btn_resetform{display:inline-block;*display:inline;cursor:pointer;	height: 30px;
	background:url(../images/reset.gif) 1px center no-repeat;
	width:96px;
		border: 0;
	text-indent: -9999px;float: left;}
.container345{
	border-top:1px solid #DCDDDD;

	margin:0 0 10px 0;
	padding:0;
	width:346px
}
.container345 ul{ margin:5px 0; padding:0; list-style:none outside none}

.greylist{
	background:url(../images/greydot.gif) center left no-repeat;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}
.greylist a{ font-size:12px; color:#333; text-decoration:none}
.greylist a:hover{ color:#C00; text-decoration:underline}
#news-nav{
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 31px;
	width: 346px;
	display: block;
}
#news-nav  li {display:inline}
#news-nav  li a {
	background:url(../images/bgt3.gif) top repeat-x;border-bottom: 1px solid #CCC;float:left;
	border-right:1px solid #CCC;
	margin: 0;
	padding:6px 8px;
	color: black;
	height:19px;
	font-size: 14px;
	text-align: center;
	border-right:1px solid #CCC;
	text-decoration:none;
	font-weight:normal;
	width: 98px; 
}
#news-nav  li a:hover {
	 background: #FFF; font-weight:bold;border-bottom: 1px solid #FFF;}
#news-nav  li a.current {
	font-weight:bold;
	background: #FFF;border-bottom: 1px solid #FFF;
	}
#news{
	margin:0 6px;
	overflow: hidden;
	display: block;
}
#abr-n, #life-n{ display:none}

.qbtn{
	border-top: 1px dotted #CCC;
	margin: 0 6px;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	/* [disabled]width: 334px; */
}
.qb1 {
	background:url(../images/qb1.gif) top center no-repeat;
	padding:50px 21px 5px 21px;
	border-right: 1px dotted #CCC;
}
.qb2 {
	background:url(../images/qb2.gif) top center no-repeat;
	padding:50px 21px 5px 21px;
	border-right: 1px dotted #CCC;
}
.qb3 {
	background:url(../images/qb3.gif) top center no-repeat;
	padding:50px 21px 5px 21px;
	
}
.qb1 a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
.qb2 a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
.qb3 a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
.qbtn ul{
	padding:0;
	list-style:none outside none;
	margin:0 auto;
	overflow: hidden;
	display: block;
}
.qbtn ul li{
	/* [disabled]padding:0; */
	list-style:none outside none;
	margin:0;
	display: block;
	float: left;
	/* [disabled]color: #666; */
}
/*-- college_photo --*/
.college_photo{}
	.college_photo .bd{padding-right:0;padding-bottom:0;}
	.college_photo_list{overflow:hidden;}
	.college_photo_list li{overflow:hidden;display:inline;text-align:center;float:left;width:154px;height:160px;margin:0 12px 0 0;}
	.college_photo_list li img{display:block;width:150px;height:110px;margin:0 0 4px;padding:1px;background:#fff;border:1px solid #a5a5a5;}
	.college_photo_list li a{ font-size:12px; color:#666; text-decoration:none}
	.college_photo_list li a:hover{ color:#C00; text-decoration:underline}
/*-- comm_college --*/
.comm_college{margin-bottom:0;}
	.comm_college .bd{padding-top:0;}
	.comm_college_list{overflow:hidden;}
	.comm_college_list li{
	overflow:hidden;
	/* [disabled]zoom:1; */
	padding:9px 0 11px 0;
	font-size: 12px;
	display: block;
	border-bottom: 1px dotted #ccc;
}
	.comm_college_list .last{
	/* [disabled]background:none; */
	padding-bottom:5px;
	border-bottom: none;
}
	.comm_college_list li img{float:left;margin:0 8px 0 0;border:1px solid #dcdddd;}
	.comm_college_list li a{
	font-weight:bold;
	display:block;
	padding-bottom: 5px;
	color: #000;
	text-decoration: none;
}
	.comm_college_list li a:hover{color:#C00; text-decoration:underline}
