@charset "utf-8";
/* CSS Document */

/*-- school_detail --*/
.school_detail{}
.photo{
	height:230px;
	/* [disabled]margin:6px 6px 6px 0; */
	float: right;

}
 .photo img{
	display:block;
	width:400px;
	height:230px;
}
	.school_detail .detail{overflow:hidden;height:290px;background:#fff;border:1px solid #ddd;}
	.school_detail_list{
	padding:0;
	font-size: 12px;
}
	.school_detail_list li{line-height:1.9em;}
	.school_detail_list li a{padding:0 7px 0 0;}
	.school_detail_list li a:link,.school_detail_list li a:visited{color:#0c57f6;}
	.school_detail_list li .alt{padding:0 0 0 15px;}
/*-- school_info --*/
.school_info{
	overflow:hidden;
	background:#efefef;
	height:208px;
	padding:11px 10px;
	float: left;
	width: 270px;
	/* [disabled]margin: 6px; */
}
	.school_info .school_logo{text-align:center;margin:0 0 5px;}
	.school_info .school_mt{
	text-align:center;
	font:normal 18px/1.8em Microsoft YaHei, YouYuan, Simsun, Arial;
	display: block;
}
	.school_info .school_en_mt{
	color:#d10005;
	text-align:center;
	margin:0 0 10px 0;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}
/*- btn -*/
	.school_info .btn{
	overflow:hidden;
	margin:0 0;
}
	.school_info .btn li{
	display:inline;
	float:left;
	width:75px;
	height:25px;
	margin:0 5px 0 5px;
}
	.school_info .btn .last{margin-right:0;}
	.school_info .btn a{display:block;height:25px;text-indent:-9999px;}
	.school_info .btn .btn_ass{ background:url(../images/btn_bg.png) no-repeat}
	.school_info .btn .btn_consu{ background:url(../images/btn_bg.png) no-repeat 0 -25px}
	.school_info .btn .btn_app{ background:url(../images/btn_bg.png) no-repeat 0 -50px}
	/*- school_extra -*/
	.school_info .school_extra{overflow:hidden;padding:11px 0 0 0;background-position:0 top;}
	.school_info .school_extra .attention{
	float:left;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
	.school_info .school_extra .attention strong{color:#b60000;font-size:20px;}
	.school_info .school_extra .btn_fav{float:right;text-indent:-9999px;width:72px;height:26px; background:url(../images/btn_bg.png) no-repeat 0 -75px;}
.re-content{
	font-size:12px;
	height: 95px;
	width: 100px;
	float: left;
}
.re-name{ display:block; padding-bottom:5px}
.re-name a{ color:#C00; font-weight:bold; text-decoration:none}
.re-name a:hover{ text-decoration:underline;}
.re-destination { display:block; padding-bottom:5px;color:#666; font-weight:bold; }

#lists {
	padding:0 0 0 260px;
	margin:10px auto;
	list-style:none;
	position:relative;
	background:url(../images/btn_bg.png) no-repeat 0 -101px #3C6BD0;
	width:750px;
    overflow: visible;
    height: 32px

} 
/* margins for this demonstration only */
#lists li {
	display:inline;
	float:left;
	
	
	background-color:#3C6BD0;
	text-align: center;
	padding: 6px 0;
}
.detail{
	padding:6px;
	overflow: hidden;
}
#lists li a.tl {
	display:block;
	width:185px;

	text-decoration:none;
	line-height:20px;
	font-size:16px;
	font-weight:bold;
	text-indent:10px;

	color:#FFF;
	background-color: #3C6BD0;
}
*html #lists li a.tl {
	display:block;
	width:185px;
	height:0;
	text-decoration:none;
	line-height:20px;
	font-size:16px;
	font-weight:bold;
	text-indent:10px;

	color:#FFF;
	background-color: #3C6BD0;
}

#lists div {display:none;}

#lists li a:hover {
	text-decoration:underline;
	white-space:normal;
	/* [disabled]background-position:130px 15px; */
}
#lists li:hover > a {text-decoration:underline; white-space:normal; background-position:130px 15px;}

#lists :hover div
{display:block; width:598px; background:#faebd7; position:absolute; left:0; top:25px; border:1px solid #888; padding-bottom:10px;
}
#lists :hover div.pos2 {background:#E6F2FF; width:300px; z-index:300
}
#lists :hover div.pos1 {
	background:#E6F2FF;
	width:300px; z-index:300
}

#lists .two:hover {position:relative;}
#lists .single:hover {position:relative;}

#lists .two:hover div.pos3 {background:#E6F2FF; width:300px; z-index:300}
#lists .single:hover div.pos4 {background:#E6F2FF; width:300px; z-index:300}

#lists :hover div dl {display:inline; padding:0; margin:0 10px 10px 10px; float:left; width:129px;}
#lists :hover div dl dt {width:129px; background:#888; text-indent:10px; margin:5px 0 10px 0; text-decoration:none; height:20px; line-height:20px;}
#lists .two:hover div {left:-150px;}
#lists .two:hover div dl {width:129px;}
#lists .two:hover div dl dt {width:129px;}

#lists .single:hover div dl {width:129px;}
#lists .single:hover div dl dt {
	width:129px;
	font-size: 14px;
}

#lists :hover div dl dd {
	padding:0;
	margin:0;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}

#lists :hover div dt a {text-decoration:none; cursor:default; font-weight:normal; color:#fff;}
#lists :hover div dd a {display:block; text-decoration:none; font-weight:normal; font-size:11px; color:#000; text-indent:10px; line-height:15px;}
#lists :hover div dd a:hover {text-decoration:underline;}

#lists .clear {clear:both;}
